footer{
    margin: 10PX;
    
    section{
        display: flex;
        margin: nth($size, 7);
        padding: nth($size, 2);
    }
    p{
        padding: nth($size, 2);  
        font-family: $ffont;  
        font-size: calc($mrgb / 4);
    }
}